.withdraw-page {
  font-family: GlacialIndifference;
  background-image: url("../../images/background-image.png");
  width: 100%;
  height: 100%;
  min-height: 90vh;
  padding-bottom: 10px;
  /* padding-top: 80px; */
  background-size: cover;
  display: inline-flex;
}

/* .withdraw-page .withdraw-page-menu {
  width: 350px;
  min-height: 90vh;
  background: #fff;
  margin-bottom: -10px;
} */
.withdraw-page .withdraw-page-detail-col {
  padding-top: 60px;
  min-width: 1800px;
  padding-left: 400px;
  display: flex;
}

.withdraw-page .withdraw-page-card {
  width: 50%;
  height: 600px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  background: transparent;
  border: 1px solid #fff;
}

.withdraw-page .withdraw-page-menu-card {
  width: 300px;
  height: 600px;
  min-height: 90vh;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -10px;
  display: block;
  background: #fff;
  border: 1px solid #fff;
  opacity: 0.7;
}

.withdraw-page .withdraw-page-title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  color: #fff;
  font-family: "GlacialIndifferenceBold";
}

.withdraw-page .withdraw-page-menu-title {
  font-size: 50px !important;
  font-weight: 500;
  position: relative;
  color: #294c7c;
  font-family: "GlacialIndifferenceBold";
}

.withdraw-page .withdraw-page-input {
  height: 45px;
  width: 400px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 18px;
  margin: 20px 0px 12px 0px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-weight: 500;
  margin-left: 15px;
}

.withdraw-page .withdraw-page-menu-button {
  height: 40px;
  width: 200px !important;
  margin-top: 15px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  background: #294c7c;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  position: relative;
}

.withdraw-page span {
  margin-right: 40px;
  text-align: left !important;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.withdraw-page a{
  color: #fff;
}

.withdraw-page .withdraw-page-submit-button {
  height: 45px;
  width: 30%;
  margin: 45px 0;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  background: #9b59b6;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
}

.withdraw-page .withdraw-page-submit-button:hover {
  background: #71b7e6;
}

.withdraw-page .email-display {
  margin-left: 80px;
  margin-top: -50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 50px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-top: 10px;
}

.withdraw-page .logout-button {
  height: 45px;
  width: 10%;
  margin: -50px 0;
  outline: none;
  color: #fff;
  border: none;
  font-size: 16px;
  background: #71b7e6;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-left: -15px;
}

.withdraw-page .logout-button:hover {
  background: #d62d20;
}