.app {
  padding: 12px;
  background-color: #282c34;
  color: #fafafa;
  min-height: 100vh;
}
.fixedRateCard {
  border: 1px solid #fff !important;
  padding: 12px;
  margin-top: 12px;
  text-align: left !important;
}
.my {
  margin-top: 12px;
  margin-bottom: 12px;
}
.rate {
  margin-left: 12px;
}
