@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.after-customer-login-page {
  font-family: GlacialIndifference;
  background-image: url("../../images/background-image.png");
  width: 100%;
  height: 100%;
  min-height: 90vh;
  padding-bottom: 10px;
  /* padding-top: 80px; */
  background-size: cover;
  display: inline-flex;
}

.after-customer-login-page .offcanvas.show {
  transform: none;
}

.after-customer-login-page .offcanvas-start {
  top: 2px !important;
  left: 0;
  bottom: 12px;
  width: 400px;
  border-right: 1px solid rgba(0,0,0,.2);
  transform: translateX(-100%);
}

.after-customer-login-page .offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: block !important;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

/* .after-customer-login-page .customer-detail-menu-col */

.after-customer-login-page .customer-detail-menu{
  width: 350px;
  min-height: 90vh;
  background: #fff;
  margin-bottom: -10px;
}

.after-customer-login-page .customer-detail-col{
  padding-top: 60px;
  min-width: 1800px;
  padding-left: 150px;
}

.after-customer-login-page .customer-detail-card {
  width: 50%;
  height: 600px;
  padding: 10px;
  border-radius: 5px;
  display: block;
  background: transparent;
  border: 1px solid #fff;
}

.after-customer-login-page .customer-detail-menu-card {
  width: 300px;
  height: 600px;
  min-height: 90vh;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -10px;
  display: block;
  background: #fff;
  border: 1px solid #fff;
}


.after-customer-login-page .after-customer-login-page-title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  color: #fff;
  font-family: "GlacialIndifferenceBold";
}

.after-customer-login-page .after-customer-login-pagee-menu-title {
  font-size: 50px !important;
  font-weight: 500;
  position: relative;
  color: #294c7c;
  font-family: "GlacialIndifferenceBold";
}

.after-customer-login-page .customer-detail-input {
  height: 45px;
  width: 400px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 18px;
  margin: 20px 0px 12px 0px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-weight: 500;
  margin-left: 10px;
}

.after-customer-login-page .customer-detail-menu-button{
  height: 40px;
  width: 200px;
  margin-top: 15px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  background: #294c7c;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  position: relative;
}

.after-customer-login-page span{
  margin-right: 40px;
  text-align: left !important;
}

